* {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  background: linear-gradient(90deg, grey, rgb(80, 255, 226));
  height: 5vh;
}

.Container {
  height: 500px;
  width: 350px;
  border-radius: 10px;
  background: linear-gradient(45deg, #333, rgb(80, 255, 226));
  display: grid;
  place-items: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#box {
  height: 30px;
  width: 80%;
  border-radius: 20px;
  background-color: mintcream;
  text-align: center;
  outline: none;
  border: none;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  width: 70%;
  border-radius: 50px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background: mintcream;
  border-radius: 50%;
  cursor: pointer;
}
.Container #red {
  background: linear-gradient(90deg, #000, red);
}

.Container #green {
  background: linear-gradient(90deg, #000, green);
}

.Container #blue {
  background: linear-gradient(90deg, #000, blue);
}
